@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

:root {
  --bgColor: #dedcd3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 1.24vw;

  background: var(--bgColor) url(https://);
  background-size: cover;

	height:  100vh;
}
/* Scroll Personalizado */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: hsl(87, 68%, 50%);
    border-radius: 10px;
  }
  body::-webkit-scrollbar {
    border-radius: 0;
  }
  *::-webkit-scrollbar-thumb {
    /* background: rgba(255,255,255, .3); */
    border: 1px solid #000;
    border-radius: 10px;
  }
/* Scroll Personalizado */

body{
	font-family: 'Vast Shadow', cursive;
}

#containerP {
	padding: 5px;
	width: 100%;
	height: 100%;
}

model-viewer{
	width: 100%;
	height: 100%;
	border:hsl(87, 68%, 50%) 3px solid;
	border-radius: 20px;
}

/*-----------------------MOBILE---------------------------*/
@media (max-width: 780px) {
  body {
    font-size: 1.7vh;
  }
	#cursores{
		width: 50%;
	}
}
@media (max-width: 430px) {



}

/*
TODO: 
FIXME: 
*/